@import 'custom';
@import "~bootstrap/scss/bootstrap";



body{
    background-image: linear-gradient(to right, #fdfffb, #f0fee5, #e0fcd1, #cdfbbe, #b8faac);
    font-family: 'Alata', sans-serif;
    .grid-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 0.5fr 0.5fr 5fr 0.5fr;
        grid-template-areas: "header header header header header header header" ". . . random . . ." ". . card card card . ." ". . . . . . .";
        grid-row-gap: 2rem; 
        width: 100%;
        header{
            grid-area: header;
           border-bottom: 0.1rem solid #18839C;
            h1{
                color: #93DA9F;
                text-align: left;
                float: left;
                display:inline-block;
            }
            a{
                text-decoration: none;
                color: #18839C;
                font-weight: bold;
                float: right;
                display:inline-block;
                margin-top: 3rem;
            }
        }
        #random{ 
            grid-area: random; 
            p{
                color: #18839C;
            }
            #btn{
                border-width: 0.3rem;
                background-image: linear-gradient(to right, #95dba0, #82d8a0, #6dd4a2, #53d1a4, #2ecda8);
                border-color: #2ecda8;
                i{
                    color: #d3f0d8;
                }
            }
        }
        #card{ 
            grid-area: card; 
            .pulse:hover {
                -webkit-animation-name: pulse;
                animation-name: pulse;
                -webkit-animation-duration: 1s;
                animation-duration: 1s;
                -webkit-animation-fill-mode: both;
                animation-fill-mode: both;
                }
                @-webkit-keyframes pulse {
                0% {
                -webkit-transform: scale3d(1, 1, 1);
                transform: scale3d(1, 1, 1);
                }
                50% {
                -webkit-transform: scale3d(1.05, 1.05, 1.05);
                transform: scale3d(1.05, 1.05, 1.05);
                }
                100% {
                -webkit-transform: scale3d(1, 1, 1);
                transform: scale3d(1, 1, 1);
                }
                }
                @keyframes pulse {
                0% {
                -webkit-transform: scale3d(1, 1, 1);
                transform: scale3d(1, 1, 1);
                }
                50% {
                -webkit-transform: scale3d(1.05, 1.05, 1.05);
                transform: scale3d(1.05, 1.05, 1.05);
                }
                100% {
                -webkit-transform: scale3d(1, 1, 1);
                transform: scale3d(1, 1, 1);
                }
                }
            .card{
                border-color:  #18839C;
                border-width: 0.2rem;
                background-color:  #D9F7F5;
                text-align: center;
                img{
                  
                }
               .card-title{
                    text-transform: uppercase;
                    font-weight: bold;
               }
            }          
        }
        footer{ 
            grid-area: footer; 
        }
    }
}
  
 
  
  
  
  

